<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
    @*<h1 class="txt-color-red login-header-big">@Localizer["SmartAdmin"]</h1>*@
    <div class="heros">
        <div class="">
            <h1 class="font-xl">@Localizer["DESCOMPLIQUE SUA EMPRESA com a SmartAdmin"] </h1>
            <h1><b>@Localizer["Simples assim."]</b></h1>
            @*<h4 class="paragraph-header">@Localizer["Possui tudo o que você deseja:"]</h4>*@
            @*<h4 class="paragraph-header"> @Localizer["Tudo, ok, seja SmartAdmin"]   </h4>*@
            <br />
            <img class="img-responsive" src="~/img/process.png" />
            @*<div class="row padding-10">
               <div class="col-md-4">
                       <i class="fa fa-5x fa-puzzle-piece txt-color-green"></i>
                       <p>Pense no seu processo</p>
               </div>
                <div class="col-md-4">
                    <i class="fa fa-5x fa-users txt-color-green"></i>
                    <p>Envolva seu time</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-5x fa-flag-checkered txt-color-green"></i>
                    <p>Gerencie</p>

                </div>
               
            </div>*@
           
            
        </div>
        @*<img src="~/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">*@
    </div>
    @*<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">@Localizer["About SmartAdmin - Are you up to date?"]  </h5>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Not just your average template!</h5>
            <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
            </p>
        </div>
    </div>*@
</div>