@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName }).ToList();
}


<!-- collapse menu button -->
<div id="hide-menu" class="btn-header pull-right">
    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
</div>
<!-- end collapse menu -->
<!-- #MOBILE -->






<!-- logout button -->
<div id="logout" class="btn-header transparent pull-right">
    <span> <a href="@Url.Action("Logout", "Account")" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out"></i></a> </span>
</div>
<!-- end logout button -->
<!-- search mobile button (this is hidden till mobile view port) -->
<div id="search-mobile" class="btn-header transparent pull-right">
    <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
</div>
<!-- end search mobile button -->
<!-- input: search field -->
<form asp-action="search" asp-controller="home" class="header-search pull-right">
    <input id="search-fld" type="text" name="search" value="@ViewData["search"]" placeholder="@Localizer["Find all"]">
    <button type="submit">
        <i class="fa fa-search"></i>
    </button>
    <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
</form>
<!-- end input: search field -->
<!-- fullscreen button -->
<div id="fullscreen" class="btn-header transparent pull-right">
    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
</div>
<!-- end fullscreen button -->
<!-- multiple lang dropdown : find all flags in the flags page -->



<ul class="header-dropdown-list hidden-xs">
    <li>
        <form id="selectLanguage"  asp-controller="Home"
                              asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                              method="post" class="smart-form padding-10" role="form">

                <select name="culture" class="form-control"
                        onchange="this.form.submit();"
                        asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
           
             
                
            </form>
</li>
</ul>

<!-- end multiple lang -->