@using SmartAdmin.Models.AccountViewModels
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Recuperar Senha";
    ViewBag.PageId = "extr-page";
}



@section topright{
    <span id="extr-page-header-space">
        <span class="hidden-mobile">@Localizer["Precisa de uma Conta ?"]</span>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-danger">@Localizer["Criar"]</a>
    </span>
}



<div id="content" class="container">
    <div class="row">
        @{ await Html.RenderPartialAsync("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            <div class="well no-padding">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" id="login-form" class="smart-form client-form">
                    <header>
                        @Localizer["Recuperar Senha"]
                    </header>
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <fieldset>
                        <section>
                            <label class="label">E-mail</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input asp-for="Email" class="form-control" />
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>@Localizer["Entre com seu e-mail usado na criação da conta"]</b>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </label>
                            <div class="note">
                                <a  asp-action="Login" asp-controller="Account"><i class="fa fa-smile-o"></i> @Localizer["Fazer Login"]</a>
                            </div>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-envelope"></i>
                            @Localizer["Enviar Email"]
                        </button>
                    </footer>
                </form>
            </div>
            @{ await Html.RenderPartialAsync("_SocialMedia"); }
        </div>
    </div>
</div>