@{
    ViewData["Title"] = "Confirmação Recuperação Senha";
    ViewBag.PageId = "extr-page";
}



@section topright{
    <span id="extr-page-header-space">
        <span class="hidden-mobile">@Localizer["Precisa de uma Conta ?"]</span>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn btn-danger">@Localizer["Criar"]</a>
    </span>
}



<div id="content" class="container">
    <div class="row">
        @{ await Html.RenderPartialAsync("_LoginText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
            
            <div class="panel panel-default">
                <div class="panel-heading">Recuperação de Senha</div>
                <div class="panel-body">
                    @Localizer["Verifique seu email com as instrução para recuperação da senha.."]
                </div>
                <div class="panel-footer">
                    <div class="note">
                        <a asp-action="Login" asp-controller="Account"><i class="fa fa-smile-o"></i> @Localizer["Fazer Login"]</a>
                    </div>

                </div>
            </div>


            @{ await Html.RenderPartialAsync("_SocialMedia"); }
        </div>
    </div>
</div>