@model SmartAdmin.Models.SearchModel
<!-- MAIN CONTENT -->
<div id="content">
    <div class="well well-light">
        <h1> Search <span class="semi-bold">Everything</span></h1>
        <br>
        <form class="form-horizontal" method="get">
            <div class="input-group input-group-lg">
                @*<div class="input-group-btn">
                        <a asp-action="Add" class="btn btn-success">@Localizer["Adicionar Novo"]</a>
                    </div>*@
                <input class="form-control input-lg" placeholder="Search..." id="search" name="search" type="text" value="@ViewData["search"]">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-fw fa-search fa-lg"></i>
                    </button>
                </div>

            </div>
        </form>
        <hr />

        @*//pipeline*@
        <h1 class="font-md"> Search Results for <span class="semi-bold">Pipelines</span><small class="text-danger"> &nbsp;&nbsp;(@Model.Pipelines.Count())</small></h1>
        @if (Model.Pipelines.Count() > 0)
        {
            <div class="table-responsive">
                <table id="resultTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-header text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Nome"]</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Ativo"]</th>
                            <th data-hide="phone" width="100">@Localizer["Configurar"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Pipelines)
                        {
                            <tr class="@(!item.Active ? "txt-inactive" : "")">
                                <td>@item.PipelineId </td>
                                <td><a asp-action="Edit" asp-controller="Pipeline" asp-route-id="@item.PipelineId">  @item.Name   </a> </td>
                                <td>@item.Active</td>
                                <td> <a class="btn btn-info btn-sm" asp-controller="Pipeline" asp-action="Configure" asp-route-id="@item.PipelineId"> @Localizer["Configurar"] </a>  </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }


        @*//stages*@
        <h1 class="font-md"> Search Results for <span class="semi-bold">Stages</span><small class="text-danger"> &nbsp;&nbsp;(@Model.Stages.Count())</small></h1>
        @if (Model.Stages.Count() > 0)
        {
            <div class="table-responsive">
                <table id="resultTableStage" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-header text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Nome"]</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Ativo"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Stages)
                        {
                            <tr class="@(!item.Active ? "txt-inactive" : "")">
                                <td>@item.PipelineId </td>
                                <td><a asp-action="Edit" asp-controller="Stage" asp-route-id="@item.StageId">  @item.Name   </a> </td>
                                <td>@item.Active</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }




        @*//company*@
        <h1 class="font-md"> Search Results for <span class="semi-bold">Company</span><small class="text-danger"> &nbsp;&nbsp;(@Model.Company.Count())</small></h1>
        @if (Model.Company.Count() > 0)
        {
            <div class="table-responsive">
                <table id="resultTableCompany" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-header text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Nome"]</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Ativo"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Company)
                        {
                            <tr class="@(!item.Active ? "txt-inactive" : "")">
                                <td>@item.CompanyId </td>
                                <td><a asp-action="Edit" asp-controller="Company" asp-route-id="@item.CompanyId">  @item.FirstName  </a> </td>
                                <td>@item.Active</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }




        @*//contact*@
        <h1 class="font-md"> Search Results for <span class="semi-bold">Contact</span><small class="text-danger"> &nbsp;&nbsp;(@Model.Contact.Count())</small></h1>
        @if (Model.Contact.Count() > 0)
        {
            <div class="table-responsive">
                <table id="resultTableContact" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-header text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Nome"]</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Ativo"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contact)
                        {
                            <tr class="@(!item.Active ? "txt-inactive" : "")">
                                <td>@item.ContactId </td>
                                <td><a asp-action="Edit" asp-controller="Company" asp-route-id="@item.ContactId">  @item.FirstName  </a> </td>
                                <td>@item.Active</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }


        @*//deasl*@
        <h1 class="font-md"> Search Results for <span class="semi-bold">Deal</span><small class="text-danger"> &nbsp;&nbsp;(@Model.Deal.Count())</small></h1>
        @if (Model.Deal.Count() > 0)
        {
            <div class="table-responsive">
                <table id="resultTableContact" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th data-hide="phone">ID</th>
                            <th data-class="expand"><i class="fa fa-fw fa-header text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Nome"]</th>
                            <th data-hide="phone"><i class="fa fa-fw fa-check text-muted hidden-md hidden-sm hidden-xs"></i> @Localizer["Perdido"]</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Deal)
                        {
                            <tr class="@(item.Lost ? "txt-inactive" : "")">
                                <td>@item.DealId </td>
                                <td><a asp-action="Edit" asp-controller="Deal" asp-route-id="@item.DealId">  @item.Name  </a> </td>
                                <td>@item.Lost</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }

    </div>

</div>


@section Scripts {
    <script>
        tableSetting.tableInit("resultTable", 50);
        tableSetting.tableInit("resultTableStage", 50);
        tableSetting.tableInit("resultTableContact", 50);
        tableSetting.tableInit("resultTableCompany", 50);
        tableSetting.tableInit("resultTableDeal", 50);
        

    </script>
}
