@using SmartAdmin.Models.ManageViewModels
@model AddPhoneNumberViewModel


<div id="content">
    <div class="well well-light">
        <h4 class="txt-color-teal">@Localizer["Adicionar Celular a minha conta"]</h4>
        <p class="note">@Localizer["Adicionar o número de celular ajuda a proteger e recuperar sua conta, pratique esta idéia"]</p>
        <span class="text-success">@ViewData["StatusMessage"]</span>


        <hr />
        <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="col-sm-12 col-md-6">
                    <label asp-for="PhoneNumber" class="control-label">@Localizer["Celular"]</label>
                    <input asp-for="PhoneNumber" placeholder="@Localizer["Celular"]" class="form-control">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-actions text-align-left">
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-default">@Localizer["Enviar Código de Verificação"]</button>
                        <a asp-action="index" asp-controller="Manage" class="btn btn-info">@Localizer["Voltar"]</a>


                    </div>
                </div>
            </div>


        </form>

    </div>
</div>
