@using SmartAdmin.Models.ManageViewModels
@model ChangePasswordViewModel

<div id="content">
    <div class="well well-light">
        <h4 class="txt-color-teal">@Localizer["Mudar Senha"]</h4>
        <p class="note">@Localizer["Ao mudar a senha constantemente, você garante uma segurança extra em sua conta."]</p>
        <hr />
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="OldPassword" class="control-label">@Localizer["Senha Antiga"]</label>
                        <input asp-for="OldPassword" placeholder="@Localizer["Senha Antiga"]" class="form-control">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="NewPassword" class="control-label">@Localizer["Nova Senha"]</label>
                        <input asp-for="NewPassword" placeholder="@Localizer["Nova Senha"]" class="form-control">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-md-12">
                        <label asp-for="ConfirmPassword" class="control-label">@Localizer["Confirmar Senha"]</label>
                        <input asp-for="ConfirmPassword" placeholder="@Localizer["Confirmar"]" class="form-control">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions text-align-left">
                <div class="row">
                    <div class="col-md-12">
                        <a asp-action="index" asp-controller="Manage" class="btn btn-info">@Localizer["Voltar"]</a>
                        <button type="submit" class="btn btn-success">@Localizer["Mudar"]</button>


                    </div>
                </div>
            </div>

        </form>
    </div>
</div>


