@model Smart.Core.Domain.Addresss.City

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="CityId" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialCodeRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialCodeRegion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEntityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessEntityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateProvince.CountryRegionCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
</body>
</html>
