@model Smart.Core.Domain.Addresss.City

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialCodeRegion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecialCodeRegion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEntityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessEntityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StateProvince)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StateProvince.CountryRegionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
